

<form method="POST" action="/profile/edit">
    <h1>Name</h1><input name="name" value=<%= profile.name %> >
    <h1>Contact</h1><input name="contact" value=<%= profile.contact %> >
    <h1>Whatsapp</h1><input name="whatsapp" value=<%= profile.whatsapp %> >
    <h1>Telegram</h1><input name="telegram" value=<%= profile.telegram %> >
    <h1>Instagram</h1><input name="instagram" value=<%= profile.instagram %> >
    <input type="submit">
  </form>
  <a href="/profile">Back</a>

