

<div id="page-profile">
    <div class="container my-5">
        <h1>External</h1>
        <h1>Name: <%= profile.name %> </h1>
        <h1>Contact:  <%= profile.contact %> </h1>
        <h1> Email Me:  <a href="mailto:<%= profile.email %>"> Email Me</a></h1>
        <h1> Whatsapp Me:  <a href="whatsapp://send?phone=<%= profile.whatsapp %>">Whatsapp Me</a>  </h1>
        <h1> Telegram Me:  <a href="https://telegram.me/<%= profile.telegram %>">Telegram Me</a> </h1>
        <h1> IG Me:  <a href="http://instagram.com/_u/<%= profile.instagram %>">IG Me</a></h1>
    </div>
   
</div>


