<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title><%= profile.name %></title>
  </head>
  <body>
    <img src=<%=profile.url%> class="ext-profile-pic">
    <div class="name"><%= profile.name %></div>
    <a href="mailto:<%= profile.email %>" target="_blank" class="links">Email Me</a>
    <% if ( profile.whatsapp ) { %>
    <a href="whatsapp://send?phone=<%= profile.whatsapp %>" target="_blank" class="links">Whatsapp</a>
    <%} else { %> <% } %> 
    <% if ( profile.telegram ) { %>
    <a href="https://telegram.me/<%= profile.telegram %>" target="_blank" class="links">Telegram</a>
    <%} else { %> <% } %> 
    <% if ( profile.instagram ) { %>
    <a href="http://instagram.com/_u/<%= profile.instagram %>" target="_blank" class="links">Instagram</a>
    <%} else { %> <% } %>
    <% if ( profile.github ) { %>
      <a href="http://github.com/<%= profile.github %>" target="_blank" class="links">github</a>
    <%} else { %> <% } %>
  </body>
</html>
