
<form method="POST" action="/users/logout">
    <button type="submit">Logout</button>
  </form>

<div id="page-profile">
    <div class="container my-5">
        <h1>Welcome to your profile</h1>
        <h1>Name: <%= profile.name %> </h1>
        <h1>Contact:  <%= profile.contact %> </h1>
        <h1> Email:  <%= profile.email %> </h1>
        <h1> Whatsapp:  <%= profile.whatsapp %> </h1>
        <h1> Telegram:  <%= profile.telegram %> </h1>
        <h1> IG Me: <%= profile.instagram %></a> </h1>
        
    </div>
    <a href="/profile/edit">Edit</a>
    <a href="/<%= profile.rfid %>">External</a>
    <form method="POST" action="/profile/delete">
        <button type="submit">Delete resource</button>
      </form>
</div>


